@import "../../style.scss";
* {
    margin: 0;
  }
  
  .write {
    display: flex;
    flex-direction: row;
    @include sm{
         margin-top: 5rem;
         padding-left: 2rem;
    }
    
    .content {
      display: flex;
      flex: 5;
      flex-direction: column;
      padding: 1rem 0rem 0rem 0rem;

      input {
        padding: 1rem;
        border: .1rem solid lightgray;
        border-bottom: none;
        outline: none;
        font-weight: bold;
      }
  
      .editorContainer {
        height: 80vh;
        overflow: scroll;
        
        border: none;
  
        &::-webkit-scrollbar {
          display: none;
        }
  
        .editor {
          height: 100%;
          width: 100%; 
         
        }
      }

     

        .bt{
          display: none;
          @include sm{
            display: block;
            padding: 2rem;
            border-radius: 1rem;
            right: 3rem;
            bottom: 8.5rem;
            position: fixed;
            outline: none;
            color: teal;
            background-color: transparent;
          }
        }

        .btn_u{
          display: none;
          @include sm{
            display: block;
            padding: 2rem;
            border-radius: 1rem;
            right: 3rem;
            bottom: 5rem;
            position: fixed;
            outline: none;
            color: teal;
            background-color: transparent;
          }

        }
      }
    
    .operations {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 1rem;
      background-color: rgba(211, 211, 211, 0.144);
         @include sm{
          display: none;
         }
      span{
        font-weight: bold;
        font-size: 1.6rem;
      }
      .buttons {
         padding: 1rem 0rem 1rem 0rem;
           display: flex;
           gap: 2rem;
           font-weight: bold;
         .btn_s{
          background-color:teal;
          color: white;
          cursor: pointer;
          border: none;
          border-radius: .5rem;
          padding: .5rem 2rem;
         }
         .btn_u{
          background-color:teal;
          color: white;
          cursor: pointer;
          border: none;
          border-radius: .5rem;
          padding: .5rem 2rem;
         }
        //  .btn_d{
        //   background-color:rgb(236, 15, 15);
        //   color: white;
        //   cursor: pointer;
        //   border: none;
        //   border-radius: .5rem;
        //   padding: .5rem 2rem;
        //  }
      }
      .preferences {
      }
    }
  }
  